* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Outfit, sans-serif;
}
body {
	min-height: 100vh;
	background-color: hsl(30, 54%, 90%);
	padding-top: 50px;
	padding-bottom: 50px;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*RECIPE CARD*/
.recipe-card {
	min-width: 320px;
	max-width: 700px;
	width: 80%;
	background-color: hsl(0, 0%, 100%);
	padding: 40px;
	border-radius: 12px;
	color: hsl(24, 5%, 18%);
}
hr {
	border: none;
	margin: 30px 0;
	background-color: hsl(30, 18%, 87%);
	height: 1px;
}
/*CARD IMAGE*/
img {
	width: 100%;
	height: auto;
	border-radius: 12px;
	aspect-ratio: 164/75;
	object-fit: cover;
}
/*TITLES*/
.titles {
	font-family: "Young serif", sans-serif;
	margin: 20px 0;
	font-weight: 400;
}
h2.titles {
	color: hsl(14, 45%, 36%);
	font-size: 30px;
}
h1.titles {
	font-size: 44px;	
}
/*LISTS*/
.lists > li {
	padding: 8px;
}
.lists {
	list-style-position: inside;
}
.lists > li::marker {
	color: hsl(14, 45%, 36%);
}
/*PREPARATION TIME SECTION*/
.preparation-time {
	margin-top: 20px;
	background-color: hsl(330, 100%, 98%);
	padding: 25px;
	border-radius: 12px;
	color: hsl(30, 10%, 34%);
}
.preparation-time > h2 {
	color: hsl(332, 51%, 32%);
	margin-bottom: 5px;
	font-size: 18.71px;
}
/*INSTRUCTION LIST*/
.instructions-list > li::marker {
	font-weight: bold;
}
/*TABLE*/
table {
	width: 100%;
}
th, td {
	border-bottom: 1px solid hsl(30, 18%, 87%);
	padding: 15px;
	text-align: left;
	width: 50%;
}
th {
	font-weight: normal;
	padding-left: 30px;
}
td{
	color: hsl(14, 45%, 36%);
}
caption {
	text-align: left;
	padding-bottom: 15px;
}